.header {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
    background: #000;
}
.navLink {
    margin-right: 15px;
    text-decoration: none;
    color: #FFF;
}
.navLink:hover,
.navLink:focus {
    color: #FFF;
    text-decoration: underline;
}
