
.container {
    display: flex;
    min-height: 100vh;
  }
.sidebar {
    width: 280px;
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}
.headerControlsContainer {
    position: relative;
    padding: 8px 16px 24px 16px;
    border: 1px solid #B9B9B9;
    margin-top: 32px;
}
.headerControlsHtwo {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 4px;
    left: -1px;
    background: #fff;
    padding: 0 6px 9px 1px;
    color: #000;
    transform: translateY(-16px);
}
.content {
    flex: 1;
    padding: 0;
}
.iframe {
    border: none;
    background: #fff;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    transition: width ease 250ms;
}

.gridContainer {
    display: grid; 
    gap: 15px;
}
